.ToDoMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.ToDo__title {
  font-size: 24px;
  font-family: 'Gelasio', serif;
  font-weight: 700;
}

.ToDo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.ToDo__Form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.ToDo__Form-input {
  width: 100%;
  border-bottom: 2px solid black;
}

.ToDo__Form-button{
  margin-left: 5px;
}

.ToDo__list {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
  margin-top: 30px;
}

.ToDo__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}

.ToDo__list-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ToDo__list-item-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-right: 10px;
}

.ToDo__list-item-title {
  font-family: 'Gelasio', serif;
  font-weight: 700;
}

.ToDo__list-item-checkbox:checked {
  background-color: black;
  + h3 {text-decoration: line-through;}
}

.ToDo__list-item--updating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

.ToDo__list-item--updating-input {
  width: 100%;
  background: #e8f0fe;
}

.ToDo__list-item--updating-button {
  display: flex;
  width: 50px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
}

.ToDo__list-button-wrapper {
  display: flex;
  width: 50px;
  flex-direction: row;
  justify-content: space-between;
}

.Logout__button {
  width: 200px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  font-family: 'Gelasio', serif;
  &:hover {
    cursor: grab;
    background-color: black;
    color: white;
  }
}

